[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservice-Curso-Ameza/api-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservice-Curso-Ameza/products-microservice.git
